[submodule "ace-apresentacao"]
	path = ace-apresentacao
	url = git@github.com:DiegoAscanio/ace-apresentacao.git
[submodule "ace-aula-01"]
	path = ace-aula-01
	url = git@github.com:DiegoAscanio/ace-aula-01.git
[submodule "ace-aula-02"]
	path = ace-aula-02
	url = git@github.com:DiegoAscanio/ace-aula-02.git
[submodule "ace-aula-03"]
	path = ace-aula-03
	url = git@github.com:DiegoAscanio/ace-aula-03.git
[submodule "jupyterlite"]
	path = jupyterlite
	url = https://github.com/DiegoAscanio/jupyterlite
[submodule "ace-atividade-avaliativa-1"]
	path = ace-atividade-avaliativa-1
	url = git@github.com:DiegoAscanio/ace-atividade-avaliativa-1.git
[submodule "ace-aula-04"]
	path = ace-aula-04
	url = git@github.com:DiegoAscanio/ace-aula-04.git
